$color-dark-grey: #3f5360
$color-light-grey: #9ba5af
$color-warm-red: #ff4338

p
  color: $color-dark-grey

#headerNav nav a
  font-size: 16px

  &:hover
    color: $color-dark-grey !important

  &:active nav a
    color: $color-warm-red !important


// Banner area
.desc-wrapper p>strong
  font-family: 'GalanoClassic-Regular'
  font-size: 68px
  letter-spacing: 0


// Newsletter
.newsletter-block
  .newsletter-form-header-title
    margin: 0

  .newsletter-form-header-description,
  .newsletter-form-footnote
    p
      color: white

// Footer
#footer
  .html-block
    a, a:visited
      color: $color-dark-grey
      font-size: 16px
      margin: 5px
      text-decoration: none !important
      font-family: 'GalanoClassic-Regular'
    a:hover
      color: $color-warm-red
